<div class="navbar navbar-default" style="background-color:#FFFFFF;padding:5px 5px;">
  <p id="notice"><%= notice %></p>
  <p>
  <% if (true == logged_in?) %>
    <%= link_to new_season_path(), :class => "btn btn-default btn-sm" do %>
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New
    <% end %>
    <%= link_to 'seasons/refresh', :class => "btn btn-default btn-sm" do %>
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Reload
    <% end %>
  <% end %>
  </p>
  <table class="table table-striped">
    <tr>
      <th>name</th>
      <th>pointhog url</th>
      <th>start date</th>
      <th>complete?</th>
    </tr>
    <% Season.ordered_by_start_date(@seasons).reverse.each do |season| %>
      <tr>
        <td><%= link_to(season.name, edit_season_path(season)) %></td>
        <td><%= season.pointhog_url %></td>
        <td><%= season.start_date %></td>
        <td>
          <% if (true == season.complete?) %>
            <span class="glyphicon glyphicon-ok"></span>
          <% else %>
            <span class="glyphicon glyphicon-minus"></span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
