<div class="navbar navbar-default" style="background-color:#FFFFFF;padding:5px 5px;">
  <p id="notice"><%= notice %></p>
  <table class="table table-striped">
    <tr>
      <th>id</th>
      <th>game date</th>
      <th>home</th>
      <th>score</th>
      <th>away</th>
      <th>score</th>
      <th>overtime?</th>
      <th>playoff?</th>
      <th>championship?</th>
    </tr>
    <% @games.each do |game| %>
      <tr>
        <td><%= link_to(game.id, edit_game_path(game)) %></td>
        <td><%= game.game_date %></td>
        <td><%= game.home_team.name %></td>
        <td><%= game.home_score %></td>
        <td><%= game.away_team.name %></td>
        <td><%= game.away_score %></td>
        <td>
          <% if (true == game.overtime?) %>
            <span class="glyphicon glyphicon-ok"></span>
          <% else %>
            <span class="glyphicon glyphicon-minus"></span>
          <% end %>
        </td>
        <td>
          <% if (true == game.playoff?) %>
            <span class="glyphicon glyphicon-ok"></span>
          <% else %>
            <span class="glyphicon glyphicon-minus"></span>
          <% end %>
        </td>
        <td>
          <% if (true == game.championship?) %>
            <span class="glyphicon glyphicon-ok"></span>
          <% else %>
            <span class="glyphicon glyphicon-minus"></span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
