<p id="notice"><%= notice %></p>

<p>
  <strong>Home team:</strong>
  <%= @game.home_team_id %>
</p>

<p>
  <strong>Home score:</strong>
  <%= @game.home_score %>
</p>

<p>
  <strong>Away team:</strong>
  <%= @game.away_team_id %>
</p>

<p>
  <strong>Away score:</strong>
  <%= @game.away_score %>
</p>

<p>
  <strong>Overtime:</strong>
  <%= @game.overtime %>
</p>

<p>
  <strong>Game date:</strong>
  <%= @game.game_date %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
