<%= form_for(@elo) do |f| %>
  <% if @elo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@elo.errors.count, "error") %> prohibited this elo from being saved:</h2>

      <ul>
      <% @elo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :team_id %><br>
    <%= f.text_field :team_id %>
  </div>
  <div class="field">
    <%= f.label :value %><br>
    <%= f.number_field :value %>
  </div>
  <div class="field">
    <%= f.label :sample_date %><br>
    <%= f.date_select :sample_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
