<div class="navbar navbar-default" style="background-color:#FFFFFF;padding:5px 5px;">
  <p id="notice"><%= notice %></p>
  <table class="table table-striped">
    <tr>
      <th>id</th>
      <th>date</th>
      <th>team</th>
      <th>elo</th>
    </tr>
    <% @elos.each do |elo| %>
      <tr>
        <td><%= link_to(elo.id, edit_elo_path(elo)) %></td>
        <td><%= elo.sample_date %></td>
        <td><%= elo.team.name %></td>
        <td><%= elo.value %></td>
      </tr>
    <% end %>
  </table>
</div>
