<div class="navbar navbar-default" style="background-color:#FFFFFF;padding:5px 5px;">
  <p id="notice"><%= notice %></p>
  <table class="table table-striped">
    <tr>
      <th>date</th>
      <th>team</th>
      <th>description</th>
      <th>elo</th>
    </tr>
    <% @elos.each do |elo| %>
      <tr>
        <td><%= elo.date %></td>
        <td><%= elo.franchise %></td>
        <td><%= elo.note %></td>
        <td><%= elo.value %></td>
      </tr>
    <% end %>
  </table>
</div>
