<p id="notice"><%= notice %></p>

<p>
  <strong>Team:</strong>
  <%= @elo.team %>
</p>

<p>
  <strong>Value:</strong>
  <%= @elo.value %>
</p>

<p>
  <strong>Sample date:</strong>
  <%= @elo.sample_date %>
</p>

<%= link_to 'Edit', edit_elo_path(@elo) %> |
<%= link_to 'Back', elos_path %>
