<% name = params[:controller] %>
<!DOCTYPE html>
<html ng-app="AdvancedHockeyStats">
<head>
  <meta name="description" content="Keeping track of B1 with advanced stats." />
  <meta name="viewport" content="width=device-width" />
  <link rel="shortcut icon"  type="image/x-icon" href="/favicon.ico?version=1">
  <title>AHS : <%= name.capitalize %></title>

  <%= render :partial => "common/header/header_includes" %>
  <%= javascript_include_tag("application") %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if (true == Rails.env.development?) %>
    <%= javascript_tag("jQuery.development = true;") %>
  <% end %>
  <div id="main">
    <div class="container">
    <%= render :partial => "common/nav_bar" %>
<%= yield %>
    </div>
  </div>
</body>
</html>
